<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <style>
        a {
            text-decoration: none;
            color: black
        }
    </style>
    <title>Výpis pojištěných</title>
</head>

<body>
    <a href="index"><button>Zpět na úvod</button></a>
    <a href="creation-of-a-insured"><button>Přidat nového pojištěného</button></a>
    <a href="list"><button>Vypsat všechny pojištěné</button></a>
    <a href="search"><button>Vyhledat pojištěného</button></a>
    <h1>Vypsat všechny pojištěné</h1>

    <div th:if="${answerShowOfInsureds}">
        <p th:text="${answerShowOfInsureds}"></p>
    </div>

</body>

</html>